Repository OlegZharkov/galaxy, changes with the labels that .github/labeler.yml gives for each.
All labels: area/admin, area/client, area/datatypes, area/documentation, area/libraries, area/testing, area/testing/selenium, area/tools, area/toolshed, area/visualizations

.github/labeler.yml:

---
area/admin:
  - client/src/components/admin/**/*
  - doc/source/admin
area/client:
  - client/**/*
area/datatypes:
  - lib/galaxy/datatypes/**/*
  - lib/galaxy/config/sample/datatypes_conf.xml.sample
area/documentation:
  - doc/**/*
area/libraries:
  - client/src/components/LibraryFolder/**/*
  - lib/galaxy/webapps/galaxy/api/libraries.py
area/testing:
  - test/**/*
  - test-data/**/*
  - lib/galaxy/tools/test.py
  - run_tests.sh
area/testing/selenium:
  - lib/galaxy/selenium/**/*
area/tools:
  - tools/**/*
  - lib/galaxy/webapps/galaxy/api/tools.py
  - tool-data/**/*
area/toolshed:
  - client/src/toolshed/**/*
  - lib/galaxy/webapps/galaxy/api/toolshed.py
area/visualizations:
  - config/plugins/visualizations/**/*

use negation operator in labels-verifier
  .github/workflows/labels-verifier.yaml
Labels: none

test_tool_form.py
  lib/galaxy_test/selenium/test_tool_form.py
Labels: none

add issue reference
  client/src/components/RuleCollectionBuilder.vue
Labels: area/client

Swap new history to default, leave fallback option.
  client/src/components/History/adapters/betaToggle.js
Labels: area/client

initial implementation
  client/src/components/SelectUsers/SelectUsers.vue
  client/src/components/SelectUsers/services.js
  client/src/components/Sharing.vue
Labels: area/client

Refactor ShareableService
  lib/galaxy/managers/sharable.py
  lib/galaxy_test/api/sharable.py
Labels: none

fixed flaw in beta history creation and deletion tracking
  client/src/components/History/History.vue
  client/src/components/History/Scroller.vue
  client/src/components/History/adapters/changeGalaxyHistory.js
  client/src/components/History/caching/monitorHistoryContent.js
  client/src/components/History/model/History.js
  client/src/components/History/model/historyStore.js
  client/src/components/History/model/queries.js
  client/src/components/History/model/syncCurrentHistoryToGalaxy.js
  client/src/components/History/providers/HistoryContentProvider/contentPayload.js
  client/src/components/History/providers/UserHistories/UserHistories.js
  client/src/utils/observable/vuex.js
Labels: area/client

adopt UI to new backend make multi-select work
  client/src/components/SelectUsers/services.js
  client/src/components/Sharing/SelectUsers/SelectUsers.vue
  client/src/components/Sharing/Sharing.vue
  client/src/entry/analysis/AnalysisRouter.js
Labels: area/client

Swap new history to default, leave fallback option.
  client/src/components/History/adapters/betaToggle.js
Labels: area/client

Add some pydantic models
  lib/galaxy/managers/libraries.py
  lib/galaxy/managers/roles.py
Labels: none

Add type annotations
  lib/galaxy/managers/libraries.py
  lib/galaxy/webapps/galaxy/api/libraries.py
Labels: area/libraries

Rename LibrariesManager to LibrariesService for consistency
  lib/galaxy/managers/libraries.py
  lib/galaxy/webapps/galaxy/api/libraries.py
Labels: area/libraries

Add method to LIbrary populator to set permissions using actions
  lib/galaxy_test/base/populators.py
Labels: none

Add API tests for private libraries
  lib/galaxy_test/api/test_libraries.py
  lib/galaxy_test/base/populators.py
Labels: none

Remove unused `deleted` parameter
  lib/galaxy/webapps/galaxy/api/libraries.py
Labels: area/libraries

Add FastAPI router for Libraries
  lib/galaxy/managers/libraries.py
  lib/galaxy/webapps/galaxy/api/libraries.py
Labels: area/libraries

Fix permission check when creating library folders
  lib/galaxy/actions/library.py
Labels: none

Use JSON payloads in API tests
  lib/galaxy_test/api/test_libraries.py
  lib/galaxy_test/base/populators.py
Labels: none

Add action as query parameter for set_permissions
  lib/galaxy/managers/libraries.py
  lib/galaxy/webapps/galaxy/api/libraries.py
  lib/galaxy_test/api/test_folder_contents.py
Labels: area/libraries

send JSON instead of FormData
  client/src/components/Libraries/LibraryPermissions/services.js
Labels: area/client

Remove unnecessary header `multipart/form-data`
  client/src/components/Libraries/LibraryPermissions/services.js
Labels: area/client

fix prettier
  client/src/components/Libraries/LibraryPermissions/services.js
Labels: area/client

initial implementation
  client/src/components/SelectUsers/SelectUsers.vue
  client/src/components/SelectUsers/services.js
  client/src/components/Sharing.vue
Labels: area/client

Refactor ShareableService
  lib/galaxy/managers/sharable.py
  lib/galaxy_test/api/sharable.py
Labels: none

clear email field on succesfull share
  client/src/components/Sharing/Sharing.vue
Labels: area/client

don't allow duplicate errors
  client/src/components/Sharing/Sharing.vue
Labels: area/client

adapt client to the new endpoints
  client/src/components/Sharing/Sharing.vue
Labels: area/client

fix admin interface
  client/src/components/Sharing/Sharing.vue
Labels: area/client

fix selenium test
  client/src/components/Sharing/Sharing.vue
  lib/galaxy/selenium/navigation.yml
  lib/galaxy_test/selenium/test_history_sharing.py
Labels: area/client, area/testing/selenium

Remove legacy code
  lib/galaxy/webapps/galaxy/controllers/history.py
  lib/galaxy/webapps/galaxy/controllers/page.py
  lib/galaxy/webapps/galaxy/controllers/visualization.py
Labels: none

Avoid sharing attempt if all users are invalid
  lib/galaxy/managers/sharable.py
Labels: none

Add num_accessible datasets to ShareHistoryExtra and fix some conditions
  lib/galaxy/managers/histories.py
Labels: none

Refactor sharing API to full rest + tests
  lib/galaxy/managers/sharable.py
  lib/galaxy/webapps/galaxy/api/histories.py
  lib/galaxy/webapps/galaxy/api/pages.py
  lib/galaxy/webapps/galaxy/api/visualizations.py
  lib/galaxy_test/api/sharable.py
Labels: none

Handle sharing histories with restricted datasets
  lib/galaxy/managers/histories.py
  lib/galaxy/managers/sharable.py
Labels: none

delete history share.mako
  templates/webapps/galaxy/history/share.mako
Labels: none

Add new API endpoint to change slug
  lib/galaxy/managers/histories.py
  lib/galaxy/managers/pages.py
  lib/galaxy/managers/sharable.py
  lib/galaxy/managers/visualizations.py
  lib/galaxy/webapps/galaxy/api/histories.py
  lib/galaxy/webapps/galaxy/api/pages.py
  lib/galaxy/webapps/galaxy/api/visualizations.py
Labels: none

Add test for set_slug
  lib/galaxy_test/api/sharable.py
Labels: none

linting
  client/src/components/Sharing/Sharing.vue
Labels: area/client

check if email was already shared
  client/src/components/Sharing/Sharing.vue
Labels: area/client

fix remaining selenium
  lib/galaxy_test/selenium/test_history_sharing.py
Labels: none
